.article-container{
	padding: 7px 5px 7px 5px;
	margin: 0px 0px 9px 0px;
	background: white !important;
	border: solid #B6B6B6 1px;
	border-radius: 0px;

}

.content-container{

}

.author-date-line {
	padding: 0px !important;
}

.delete-link {
	padding: 0px !important;
}

.article-title {
	font-size: 18px;
	color: black;
}

.article-title:hover {
	color: #104BA6;
	text-decoration: none;
}

.posted-line{
	padding: 8px 0px 0px 0px;
	
}

.posted-by{
	color: #6D6D6D;

}

.article-poster {
	color: #104BA6 !important;
}

.article-poster:hover {
	color: #104BA6;
	text-decoration: none;
}

.author-date-line{
	/*font-style: italic;*/
}