#logo-container {
	padding-top: .75%;
}

#logo-text {
	font-size: 100%;
	color: white;
	font-weight: 400;
}

#footer {
	background: #104BA6;
	width: 100%;
	height: 5%;
	margin-top: 3%;
	text-align: center;
}