body {
	background: white;
}

#user-profile {
	margin-top: 80px;
}

h1 {
	font-size: 40px;
	color: #104BA6;
	font-weight: 700;
	text-align: center;
	line-height: 48px;
	margin: 70px 0px 100px 0px;
}

#left-column {
	border: solid #B6B6B6 1px;
	margin: 9px 0px 0px 0px;
}

#left-panel-header {
	padding: 13px 0px 14px 15px;
	background: #B6B6B6;
}

#following-container {
/*	background: red !important;*/
	margin: 9px 0px 0px 0px;
	padding: 9px !important;
}

#edit-profile-link-container {
	padding: 0px;
	margin: 10px 0px 0px 0px;
	font-size: 12;
}

#edit-profile-btn {
/*	padding: 0px 0px 0px 0px;*/
	/*background: white;*/
/*	border: solid #B6B6B6 1px;
*/	border-radius: 3px;
}

#right-column {
	/*border: solid red 1px;*/
	margin: 9px 0px 0px 0px;
}

#about-me-container {
	padding: 10px 0px 10px 0px;
}
#aboutme-things {
	/*border: solid red 1px;*/
	margin-top: 10px;
}

.extra-information-container {
	padding: 0px 0px 0px 0px !important;
}

#edit-aboutme {
}

#about-me-text{
	font-size: 12px;
}