body {
	background: white;
}

#user-profile {
	margin-top: 80px;
	font-family: Montserrat;
}

h1 {
	font-size: 40px;
	color: #104BA6;
	font-weight: 700;
	text-align: center;
	line-height: 48px;
	margin: 70px 0px 100px 0px;
}

#left-column {
	border: solid red 1px;
	margin: 9px 0px 0px 0px;
}

#following-container {
	border: solid blue 1px;
	background: red !important;
	margin: 9px 0px 0px 0px;
	padding: 0px !important;
}

#following-container-action {
	padding: 0px;
	margin: 0px 0px 0px 0px;
}

#edit-profile-btn {
/*	padding: 0px 0px 0px 0px;*/
	background: white;
	border: solid #B6B6B6 1px;
	border-radius: 3px;
}

#right-column {
	/*border: solid red 1px;*/
	margin: 9px 0px 0px 0px;
}


#aboutme-things {
	/*border: solid red 1px;*/
	margin-top: 10px;
}

#extra-information-container {
	padding: 30px 0px 5px 0px;
}

#edit-aboutme {
}

#about-me-text{
	font-size: 12px;
}