<link href= '{{ url_for("static", filename="article_post_partial.css") }}' rel='stylesheet' />
<script src='{{ url_for("static", filename="article-btns.js") }}'></script>


<div class="article-container col-md-12" id='article{{ article.id }}'>
    <div class="content-container col-md-10 col-md-offset-1">

        <div class="row">
            <a class="article-title" href="{{ article.get_article_url() }}" target="_blank">{{ article.title }}</a>
        </div>

        <div class="row posted-line">
            <div class="author-date-line col-md-11">
                <span class="posted-by">Posted by </span>
                
                <a class="article-poster" href='/{{ article.get_article_user().id }}'>{{ article.get_article_user().first_name }} {{ article.get_article_user().last_name }}</a>

                <!-- Difference is less than a minute -->
                {% if ((curr_time - article.created).total_seconds()) < 60 %}
                    {% if ((curr_time - article.created).total_seconds())//1 == 1.0 %}
                        <span class="posted-by">{{ ((curr_time - article.created).total_seconds())//1 }} second ago</span>
                    {% else %}
                        <span class="posted-by">{{ ((curr_time - article.created).total_seconds())//1 }} seconds ago</span>
                    {% endif %}

                <!-- Difference is more than a minute and less than an hour -->
                {% elif ((curr_time - article.created).total_seconds()) < 3600 %}
                    {% if ((curr_time - article.created).total_seconds())//60 == 1.0 %}
                        <span class="posted-by">{{ ((curr_time - article.created).total_seconds())//60 }} minute ago</span>
                    {% else %}
                        <span class="posted-by">{{ ((curr_time - article.created).total_seconds())//60 }} minutes ago</span>
                    {% endif %}

                <!-- Difference is more than an hour and less than a day -->
                {% elif 3600 <= ((curr_time - article.created).total_seconds()) <= 86400 %}
                    {% if ((curr_time - article.created).total_seconds())//3600 == 1.0 %}
                        <span class="posted-by">{{ ((curr_time - article.created).total_seconds())//3600 }} hour ago</span>
                    {% else %}
                        <span class="posted-by">{{ ((curr_time - article.created).total_seconds())//3600 }} hours ago</span>
                    {% endif %}

                <!-- Difference is more than an day and less than a month -->
                {% elif 86400 <= ((curr_time - article.created).total_seconds()) <= 2592000 %}
                    {% if ((curr_time - article.created).total_seconds())//86400 == 1.0 %}
                        <span class="posted-by">{{ ((curr_time - article.created).total_seconds())//86400 }} day ago</span>
                    {% else %}
                        <span class="posted-by">{{ ((curr_time - article.created).total_seconds())//86400 }} days ago</span>
                    {% endif %}

                <!-- Difference is more than a month and less than a year -->
                {% elif 2592000 <= ((curr_time - article.created).total_seconds()) <= 31104000 %}
                    {% if ((curr_time - article.created).total_seconds())//2592000 == 1.0 %}
                        <span class="posted-by">{{ ((curr_time - article.created).total_seconds())//2592000 }} month ago</span>
                    {% else %}
                        <span class="posted-by">{{ ((curr_time - article.created).total_seconds())//2592000 }} months ago</span>
                    {% endif %}

                <!-- Difference is more than a year -->
                {% elif 31104000 <= ((curr_time - article.created).total_seconds()) %}
                    {% if ((curr_time - article.created).total_seconds())//31104000 == 1.0 %}
                        <span class="posted-by">{{ ((curr_time - article.created).total_seconds())//31104000 }} year ago</span>
                    {% else %}
                        <span class="posted-by">{{ ((curr_time - article.created).total_seconds())//31104000 }} years ago</span>
                    {% endif %}

                {% endif %}
            </div>
            <div class="col-md-1 delete-link">
                <a class='delete-btn' id='delete{{ article.id }}'>Delete</a>
            </div>
        </div>

        <div class='row like-line'>
            <span class='' id='like-link-container'>
                {% if not me.has_liked(article) %}
                    <a class='like-link' href="{{ url_for('like', article_id=article.id) }}">Like</a>
                {% else %}
                    <a class='unlike-link' href="{{ url_for('unlike', article_id=article.id) }}">Liked</a>
                {% endif %}
            </span>

            {% if article.likers.count() > 0 %}
                <span class='number-likers' id='number-likers{{ article.id }}'>
                    {% if article.likers.count() == 1 %}
                        <a class='likers-link' id='likers-link{{ article.id }}'>{{ article.likers.count()}} person</a> likes this.
                    {% else %}
                        <a class='likers-link' id='likers-link{{ article.id }}'>{{ article.likers.count()}} people</a> like this.
                    {% endif %}

                    <div class="popup" id='likers-popup{{ article.id }}'>
                        <div class='likers-list-container'>
                            {% for liker in article.likers.all() %}
                                <div class='likers-list-liker'>{{ liker.first_name }} {{ liker.last_name }} </div>
                            {% endfor %}
                        </div>
                    </div>
                </span>
            {% endif %}

        </div>

    </div>

</div>