
{% extends "layout.html" %}

{% block content %}
<link href= '{{ url_for("static", filename="index.css") }}' rel='stylesheet' />
<script src='{{ url_for("static", filename="signup_btn.js") }}'></script>

<div id="header">
	<div id="logo-container" class="col-md-2 col-md-offset-1">
		<span id="logo-text">ThoughtMic</span>
	</div>
	<div id="login-container" class="col-md-5 col-md-offset-4">
		<form action="{{ url_for('login') }}" method="post">
			<input class="login-input" type="text" name="login-email" id="login-email" placeholder="Email address">
			<input class="login-input" type="password" name="login-password" id="login-password" placeholder="Password">
			<input id="login-submit-btn" type="submit" value="LOGIN">
		</form>
	</div>
</div>

<div class="container-fluid">
	
	<!-- <div id="header">
		<span id="logo-text" class="col-md-offset-1">ReadMate</span>
	</div> -->

	<div class='row'>
		<div class="col-md-12" id="headline-container">
			<h1>Your personalized newsroom.</h1>
			<h2>Curated news about topics you're interested in from experts that you trust.</h2>
		</div>
	</div>

	<!-- <div class="col-md-7">
		<img id="iphone-img" src="{{ url_for('static', filename='iphone.png') }}" alt="iPhone">
	</div> -->
		
	<div class='col-md-offset-4'>
		<div id="homepage-box" class="row">
			<div class="box-content">
<!-- 				<div class="row">
					<button id="signup-btn" class="btns" type="">Sign Up</button>
					<button id="login-btn" class="btns" type="">Login</button>
				</div>
				<br>
				<img id="signup-img" src="{{ url_for('static', filename='signup.png') }}" /> -->
				<div id="signup-blurb">
					Sign up here to get started.
				</div>
				<form action="" method="post">
					<input class="signup-input" type="text" name="first_name" id="first_name" placeholder="First Name">
					<input class="signup-input" type="text" name="last_name" id="last_name" placeholder="Last Name">
					<input class="signup-input-2" type="text" name="email" id="email" placeholder="Email Address">
					<input class="signup-input-2" type="password" name="password" id="password" placeholder="Password">
					<br>
					<input id="signup-submit-btn" type="submit" value="GET STARTED">
				</form>
			</div>
		</div>
	</div>

</div>

{% endblock %}
